*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
body{
  background-image: url(../src/fon2.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: contain;
  z-index: 0;
}
